## Goal: Get clean list of NBA Hall of Famers

#### Libraries

In [1]:
import pandas as pd

#### Import table from basketball-reference.com

In [2]:
hof_table = pd.read_csv("basketball_reference_hof_table.csv")
hof_table

     Rank                Player  HoF Prob
0       1  Kareem Abdul-Jabbar*    1.0000
1       2          LeBron James    1.0000
2       3       Michael Jordan*    1.0000
3       4         Bill Russell*    1.0000
4       5          Kobe Bryant*    1.0000
..    ...                   ...       ...
245   246        DeAndre Jordan    0.0171
246   247        Antoine Walker    0.0154
247   248       Larry Siegfried    0.0153
248   249      DeMarcus Cousins    0.0151
249   250          Scott Wedman    0.0150

[250 rows x 3 columns]

#### Filter HOF inductees (* means already inducted to HOF)

In [3]:
hof_players = hof_table[hof_table['Player'].str.contains("\*")]
hof_players

     Rank                Player  HoF Prob
0       1  Kareem Abdul-Jabbar*    1.0000
2       3       Michael Jordan*    1.0000
3       4         Bill Russell*    1.0000
4       5          Kobe Bryant*    1.0000
5       6     Wilt Chamberlain*    1.0000
..    ...                   ...       ...
195   196          Wayne Embry*    0.0614
202   203          Gus Johnson*    0.0501
210   211       Connie Hawkins*    0.0451
224   225           Don Nelson*    0.0263
235   236          Bill Walton*    0.0204

[127 rows x 3 columns]

#### Remove * from player names

In [4]:
hof_players = hof_players['Player'].str[:-1]
hof_players

0      Kareem Abdul-Jabbar
2           Michael Jordan
3             Bill Russell
4              Kobe Bryant
5         Wilt Chamberlain
              ...
195            Wayne Embry
202            Gus Johnson
210         Connie Hawkins
224             Don Nelson
235            Bill Walton
Name: Player, Length: 127, dtype: object

#### Save cleaned list as CSV

In [5]:
hof_players.to_csv("hof_players.csv", index = False)

#### Check list of HOF players

In [6]:
hof_players = pd.read_csv("hof_players.csv")
hof_players

                  Player
0    Kareem Abdul-Jabbar
1         Michael Jordan
2           Bill Russell
3            Kobe Bryant
4       Wilt Chamberlain
..                   ...
122          Wayne Embry
123          Gus Johnson
124       Connie Hawkins
125           Don Nelson
126          Bill Walton

[127 rows x 1 columns]